<div class="container">
  <div class="trainer-card" style="background-image: linear-gradient(-225deg, rgb(220,220,220,0.3) 0%, rgba(169,169,169,0.3) 50%), url('https://i.imgur.com/lMMX2.jpg');">
    <div class="row">
      <div class="col-xs-6">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@name}", style: "width: 400px" %>
      </div>
      <div class="col-xs-6">
        <h1> Trainer <%= @user.email.split("@")[0].capitalize %></h1>
        <h2><%= [*5..30].sample %> leagues won</h2>
        <h3> Buying from us since <%= @user.created_at.to_s.split(" ")[0].gsub("-","/") %></h3>
        <h3> National Pokedéx : <%=[*1..759].sample %> Pokémons </h3>
      </div>
    </div>
  </div>
</div>
