<div class="banner" style="background-image: linear-gradient(-225deg, rgba(25, 104, 10,0.3) 0%, rgba(64, 140, 49,0.3) 50%), url('https://cdn.gamerant.com/wp-content/uploads/pikachu-joshua-realistic-pokemon.jpg.optimal.jpg');">
  <div class="banner-content">
    <h1>Poké Store</h1>
    <h4>Find your pal here</h4>
    <div class="btn btn-success ">
    <%= link_to "Start Now!", reptiles_path, class: "btn my_p" %>
  </div>
  </div>
</div>
  <h2 class="text-center"> Meet your new Pokémon </h2>
  <div class="container">
    <div class="row">
      <% @reptiles.shuffle.first(6).each do |reptile| %>
        <%= link_to reptile do %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path reptile.photo %>'); margin-bottom:30px;">
            <div class="card-category">$ <%= reptile.price %></div>
            <div class="card-description">
              <h2><%= reptile.name %></h2>
              <p><em>Level <%= reptile.level %></em></p>
            </div>
            <img class="card-user" src="https://i.kym-cdn.com/photos/images/original/001/152/404/fec.png">
          </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
<br>

