<div class="container">
    <h1 class="text-center"> Pokémons for Sale </h1>
    <div class="row">
      <% @reptiles.each do |reptile| %>
        <%= link_to reptile do %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path reptile.photo %>'); margin-bottom:30px;">
            <div class="card-category">$ <%= reptile.price %></div>
            <div class="card-description">
              <h2><%= reptile.name %></h2>
              <p><em>Level <%= reptile.level %></em></p>
            </div>
            <img class="card-user" src="https://i.kym-cdn.com/photos/images/original/001/152/404/fec.png">
          </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
