<div class="container">
  <h1><%= @reptile.name %></h1>
  <h2><em><%= @reptile.species %></em></h2>
  <h3>Weight: <%= @reptile.weight %> grams</h3>
  <h3>Size: <%= @reptile.size %> cm</h3>
  <h3>Age: <%= @reptile.age %> months </h3>
  <h4>$ <%= @reptile.price %></h4>
  <h5><strong>Description:</strong> <%= @reptile.description %></h5>
  <%= cl_image_tag @reptile.photo, height: 300, width: 400, crop: :fill %>
</div>
