<div class="container">
  <div class ="row">
    <div class="col-xs-6">
      <br>
      <%= cl_image_tag @reptile.photo, height: 450, width: 550, crop: :fill %>
    </div>
    <div class="col-xs-6">
      <br>
      <h1><strong><%= @reptile.name %></strong></h1>
      <h2><em><%= @reptile.species %></em></h2>
      <h3>Weight: <%= @reptile.weight %> grams</h3>
      <h3>Size: <%= @reptile.size %> cm</h3>
      <h3>Age: <%= @reptile.age %> months </h3>
      <h4>$ <%= @reptile.price %></h4>
      <h5><strong>Description:</strong> <%= @reptile.description %></h5>
    </div>
  </div>
</div>
